/*实现三列布局，左右固定，中间变化*/
/*使用定位+居中*/
.container {
    font-size: 0;
    position: relative;
}

.container .left {
    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    width: 100px;
    height: 100px;

    font-size: 14px;

    background-color: lightblue;
    border: 1px solid black;
}

.container .middle {
    margin: 0 auto;

    box-sizing: border-box;
    width: calc(100% - 200px);
    height: 100px;
    
    font-size: 14px;
    background-color: lightblue;
    border: 1px solid black;
}
.container .right {
    position: absolute;
    top: 0;
    right: 0;
    
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    
    font-size: 14px;
    background-color: lightblue;
    border: 1px solid black;
}