/*float和BFC实现两列布局*/
.container {
    font-size: 0;
    overflow: auto;
}

.container .left {
    float: left;

    box-sizing: border-box;
    width: 30%;
    height: 100px;

    font-size: 14px;
    
    background-color: lightblue;
    border: 1px solid black;
}

.container .middle {
    position: absolute;
    top: -1000px;
}

.container .right {
    overflow: auto;

    box-sizing: border-box;
    width: 70%;
    height: 200px;

    font-size: 14px;
    
    background-color: lightblue;
    border: 1px solid black;
}