
/*页面的背景*/
html {
    font-family:Helvetica, Arial, sans-serif;
    background-color:gray;
    margin:0;
    padding:0;
}

/*通用的设置*/
li,p{
    margin:0;
    padding:0;
    line-height:1.5;
}

ul,ol,dl{
    margin:0;
    padding:0;
}
/*整个body的配置*/
body {
    width:80%;
    font-size:20px;
    padding:0;
    margin:0 auto;
    background-color:snow;
}

/*简历主标题*/

h1 {
    text-align:center;
    margin:0;
}

/*简历副标题*/

h2 {
    color:lightblue;
    text-decoration:underline;
    font-style:italic;
}

/*统一将列表项的前面加图案*/
ul,ol{
    list-style-type:none;
}

li{
    padding-left:25px;
    background:url(../image/check.png) no-repeat left top;
    background-size:25px 25px;
}


/*为邮箱添加效果*/
a:link {
    text-decoration:none;
    color:red;

}

a:visited {
    color:blue;
}
a:hover {
    border:1px solid red;
    color:black;
}

/*个人资料图标*/

.personal-data .name {
    background:url(../image/name.png) no-repeat 0 0;
    background-size: 30px 30px;
    text-indent:35px;
}
.personal-data .sex {
    background:url(../image/sex.png) no-repeat 0 0;
    background-size: 30px 30px;
    text-indent:35px;
}
.personal-data .address {
    background:url(../image/adress.png) no-repeat 0 0;
    background-size: 30px 30px;
    text-indent:35px;
}
.personal-data .mail {
    background:url(../image/mail.png) no-repeat 0 0;
    background-size: 30px 30px;
    padding-left:35px; /*非文本标签不可以是用text-indent所以使用padding-left解决*/
}
.personal-data .phone-number {
    background:url(../image/phone-number.png) no-repeat 0 0;
    background-size: 30px 30px;
    text-indent:35px;
}
.personal-data .age {
    background:url(../image/age.png) no-repeat 0 0;
    background-size: 30px 30px;
    text-indent:35px;
}